<h1>Transactions...</h1>
<div>
  <button {{action "openNewTransaction" "money-transactions/new"}}>New</button>
</div>

{{#each money_transaction in nonNewModels}}
  <div {{bind-attr class="money_transaction.is_income:income:outcome"}}>
    {{money_transaction.description}} {{money_transaction.price}}
    <button {{action "editTransaction" money_transaction "money-transactions/edit"}} title="edit">Edit</button>
    <button {{action "deleteTransaction" money_transaction}} title="delete">X</button>
  </div>
{{/each}}


<div class="new-transaction">
  {{outlet "newTransaction"}}
</div>