<form {{action 'save' on="submit"}} class="form-inline pull-right">
  <div class="tools"> </div>
  <div class="line">
    <label for="description">Description</label>
    {{textarea value=model.description }}
    {{#each model.errors.description as |error|}}
      <div class="error">
        {{error.message}}
      </div>
    {{/each}}
  </div>
  <div class="line">
    <label for="price">Price</label>
    {{input value=model.price type="number" min="0"}}
    {{#each model.errors.price as |error|}}
      <div class="error">
        {{error.message}}
      </div>
    {{/each}}
  </div>
  <div class="line">
    <label for="is_income">Income?</label>
    {{input checked=model.is_income type="checkbox"}}
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>
