<h3>Create Transaction</h3>
{{#view 'edit'}}
  <div >
    <div class="tools">
      <button class="icon-arrow-left blue fleft btn-mobile" {{action "closeTransactionWithTransition" target="view"}}>X</button>
    </div>
    <div class="line">
      <h3>Create Transaction</h3>
    </div>
    <div class="line">
      <label for="description">Description</label>
      {{textarea value=description}}
    </div>
    <div class="line">
      <label for="price">Price</label>
      {{input value=price type="number" min="0"}}
    </div>
    <div class="line">
      <label for="is_income">Income?</label>
      {{input checked=is_income type="checkbox"}}
    </div>
    <div class="aright">
      <button class="blue btn-desktop" {{action "save"}} title="save"> ok controller</button>
      <button class="blue btn-mobile" {{action "saveWithTransition" target="view"}} title="save"> ok with view</button>
    </div>
  </div>

{{/view}}